@model MVCWithLinq3.Models.EmpDept
<h2 style="text-align:center;background-color:yellowgreen;color:orangered">Edit Employee Details</h2>
@using (Html.BeginForm("UpdateEmployee", "Employee"))
{
    <div>@Html.LabelFor(E => E.Eid)<br />@Html.TextBoxFor(E => E.Eid, new { @readonly = "true" })</div>
    <div>@Html.LabelFor(E => E.Ename)<br />@Html.TextBoxFor(E => E.Ename)</div>
    <div>@Html.LabelFor(E => E.Job)<br />@Html.TextBoxFor(E => E.Job)</div>
    <div>@Html.LabelFor(E => E.Salary)<br />@Html.TextBoxFor(E => E.Salary)</div>
    <div>@Html.LabelFor(E => E.Dname)<br />@Html.DropDownListFor(E => E.Did, Model.Departments)</div>
    <div>
        <input type="submit" value="Update" name="btnUpdate" />
        @Html.ActionLink("Cancel", "DisplayEmployees")
    </div>
}
